html { font-size: 12px; }
html, body { height: 100%; }

body * {
  transition: height,width,top 0.6s ease-in-out;
}

body {
  font-family: "Fira Code", Arial, sans-serif !important;
  font-size: 1.6em;
  line-height: 1.3;
  color: #ffffff;
  margin: auto;
  background: #282c34;
  position: relative;
  overflow: hidden;
}

p,ul,ol,dl,table,pre { margin-bottom: 1em; }
ul { margin-left: 20px; }
a { text-decoration: none; cursor: pointer; color: #d19a66; font-weight: bold; transition: background-color 0.1s ease-in-out;}
a:focus { outline: 1px dotted; }
a:visited {  }
a:hover, a:focus { color: #282c34; background-color: #d19a66; text-decoration: none; }
a *, button * { cursor: pointer; }
hr { display: none; }
small { font-size: 90%; }
input, select, button, textarea, option { font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-size: 100%; }
button, label, select, option, input[type=submit] { cursor: pointer; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .group {display: inline-block;}
/* Hides from IE-mac \*/ * html .group {height: 1%;} .group {display: block;} /* End hide from IE-mac */
sup { font-size: 80%; line-height: 1; vertical-align: super; }
button::-moz-focus-inner { border: 0; padding: 1px; }
span.amp { font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-weight: normal; font-style: italic; font-size: 1.2em; line-height: 0.8; }

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    font-family: "Fira Code", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 {
  font-size: 1.2em;
  color: #eeeeff;
  border-bottom: 1px solid white;
}
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

::selection { background: #d19a66; }
::-moz-selection { background: #d19a66; }

h1 a,
h1 a:hover {
  color: #98c379;
  font-weight: normal;
  text-decoration: none;
}

h2 a {
  color: white;
  font-weight: bolder;
  font-size: .5em;
  margin: 0.3em;
  padding: 0.2em;
  background-color: rgba(152, 195, 121, 0.6);
}

h5 a:hover {
  color: #98c379;
  font-weight: normal;
  text-decoration: none;
  background-color: #d19a66;
}

pre {
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: .75em .8em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  overflow-x: hidden;
}

pre code {
  font-size: .8em;
  font-family: "Fira Code";
}

.thumb {
    float:left;
    margin: .8em;
}

section {
  position : relative;
  margin-top: 0;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vh 2.5vw;
  border: 1px dashed rgba(255, 255, 255, 0.2);
}

section a p {
  visibility: visible;
  transform: translateY(-3em);
  display: block;
}

section h2:first-of-type {
  margin-top: 1em;
}

section p:first-of-type {
  background-color: #d19a66;
  font-weight: bold;
  padding: 0.25em;
  margin-right: 1.2em;
  color: white;
  position: absolute;
  top: -.5em;
  right: 2em;
}

.codeLink {
  font-weight: bold;
  margin: 0.5em;
  margin-right: 0.25em;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.codeLink img {s
  height: 1.75em;
  width: 1.75em;
}

section h4 {
  max-width: 5em;
  text-decoration: underline;
}

section h4::before {
  content : " ";
  display: block;
  padding-left: 1em;
}

.description {
  max-width: 50vw;
  margin: 0 auto;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;

  flex-wrap: nowrap;
  flex-direction: row;
}

.container .left {
  width: 25vw;
  height: 100vh;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
}

.container .left .label {
  margin 0 auto;
  width: auto;
}

.container .left ul {
  flex-grow: 5;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 2em;
  order: 3;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid rgba(152, 195, 121, 0.4);
}

.container .left ul::-webkit-scrollbar {
  width: 0.2em;
  transition: all 0.1s linear;
  background-color: transparent;
}

.container .left ul::-webkit-scrollbar-thumb        {
  background-color: #d19a66;
  margin-bottom: 2em;
}
.container .left ul::-webkit-scrollbar-corner       { /* 6 */ }
.container .left ul::-webkit-resizer                { /* 7 */ }

.container .left ul li {
  flex-grow: 1;
  display: flex;
  width: 100%;
  min-height: 5em;
  font-size: 0.5em;
}

.container .left ul li a {
  margin: 0;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  transition: background-color 0.3s ease-in-out;

  font-size: 1.6em;
}

.container .left ul li a:hover {
  background-color: #d19a66;
}

.container .left ul li a:hover p {
  color: white;
}

.container .left ul li a:hover p:first-of-type {
  color: white;
  transform: scale(1.3) translate3d(1em, 0, 0);
}
.container .left ul li a:hover p:last-of-type {
  color: #282c34;
}


.container .left ul li a p {
}

.container .left ul li a p:first-of-type {
  order: 0;
  padding-left: 0.8em;
  color: #98c379;
}

.container .left ul li a p:last-of-type {
  order: 1;
  padding-right: 0.8em;
  color: #d19a66;
}

.container .search {
  border-bottom: 1px solid rgba(152, 195, 121, 0.4);
  border-right: 1px solid rgba(152, 195, 121, 0.4);
  order: 1;
}

#search {
  width: 90%;
  border-bottom: 1px solid rgba(152, 195, 121, 0.4);
  box-shadow: inset 0px 0px 15px 0px #98c379;
  margin: 1em auto;
  padding: 0.3em;
  color: #d19a66;
  border-radius: 0.3em;
}

#northbrook {
  z-index: 100;
  order: 0;
  font-size: 1.3em;
  color: #98c379;
  padding: 1.15em;
  text-align: center;
  background-color: #282c34;
}

#northbrook:hover {
  background-color: #98c379;
  color: #282c34;
}

.container .right {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;

  max-width: 75vw;

  display: flex;
  flex-direction: column;
  box-orient: vertical;
}

.container .right .topbar {
  flex-order: 0;
  z-index: 5;
  background-color: #98c379;
  color: #282c34;
  border-bottom: 1px dashed rgba(152, 195, 121, 0.4);
  font-size: 0.95em;
  text-align: center;
  font-family: "Fira Code", "Palatino", "Book Antiqua", serif;
}

.cotainer .right .docs {
  flex-order: 1;
}

.container #no-match {
  display: none;
}

#docs {
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#docs section {
  min-width: 80%;
  margin-top: 0;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 10px
  }

  h1 {
    border-bottom: 1px dashed rgba(152, 195, 121, 0.4);
  }

  #northbrook {
    border-bottom: 1px dashed rgba(152, 195, 121, 0.4);
    width: 100vw;
    text-align: center;
  }
}

@media screen and (max-width: 730px) {
  html {
    font-size: 8px;
  }

  #docs {
    padding: 0;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 6px;
  }
}

@@media screen and (max-wdith 480px) {
  html {
    font-size: 4px;
  }

  section h2 {
    font-size: 1.5em;
  }
}
