<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>@northbrook/util</title>
        <link href="./fira_code/fira_code.css" rel="stylesheet"/>
        <link href="./styles/style.css" rel="stylesheet"/>
        <link href="./styles/atom-one-dark.css" rel="stylesheet"/>
        <script src="./js/highlight.pack.js"></script>
        <script src="./js/startup.js"></script>
    </head>
    <body >
        <div class="container">

            <div class="left">
              <button id="menu">&#9776;</button>
              <a id="northbrook" href="./">Northbrook</a>

                <div class="search">
                  <input id="search" type="input" placeholder="filter"/>
                </div>

                <ul>

                  <? docfiles.filter(doc => doc.filename.indexOf('index.js') === -1) .map(doc => { return doc.javadoc }) .reduce((comments, doc) => comments.concat(doc), [])
                  .sortAlpha().forEach(function (comment, index) { ?>
                  <? if (!comment.ignore) { ?>
                      <? if (comment.description && typeof comment.description === 'string') { ?>
                        <? var d = comment.description.slice().replace(new RegExp('<!--[^>]*-->'), '').split('\n').filter(Boolean) ?>
                        <? d.forEach((str, i) => { ?>
                          <? if (i === 0 && str.indexOf('::') > -1) { ?>
                            <li>
                              <a href="#<?= comment.name ?>">
                                <? var name = str.slice().trim().replace('<', '&lt;').replace('>', '&gt;').split('::')[0].trim() ?>
                                <p class="<?= name.indexOf('*') === 0 && String("curried") || String("non-curried") ?>"><?= name.replace('*', '').trim() ?></p>
                                <p><?= d.filter((x => x.indexOf('::') === -1))[0] ?></p>
                              </a>
                            </li>
                          <? } ?>
                        <? }) ?>
                      <? } ?>
                    <? } ?>
                  <? }) ?>
                </ul>
            </div>

            <div class="right">
                <div class="topbar">
                  <h1>@northbrook/util</h1>
                </div>

                <br/>
                <div id="docs">
                    <div class="description" style="text-align: center;">
                        <br/>
                        <p>This is a library full of utility functions designed, but not limited for, use with Nortbrook. The library is functional in nature, borrowing many ideas from ramda. Where possible, and makes sense, functions are curried. Where it makes sense,
                            <a href="https://github.com/cujojs/most">most.js</a>
                            is used to make things declarative and reactive.
                        </p>
                        <br/>
                    </div>

                    <? const commentMap = new Map() ?>

                    <? docfiles.filter(doc => doc.filename.indexOf('index.js') === -1) .map(doc => { doc.javadoc.forEach(comment => commentMap.set(comment.name, doc.filename)); return doc.javadoc }) .reduce((comments, doc) => comments.concat(doc), [])
                    .sortAlpha().forEach(function (comment, index) { ?>
                    <? if (!comment.ignore) { ?>
                    <section id="<?= comment.name ?>">
                        <? if (comment.description && typeof comment.description === 'string') { ?>
                        <? comment.description.slice().replace(new RegExp('<!--[^>]*-->'), '').split('\n').filter(Boolean).forEach((str, i) => { ?>
                        <? if (str.indexOf('::') > -1) { ?>
                        ## <a href="#<?= comment.name ?>"><?= str.slice().trim().replace('<', '&lt;').replace('>', '&gt;') ?> </a>
                    <? } else { ?>
                        <?= str ?>
                        <? } ?>
                        <? }) ?>
                        <? } ?>

                        <? if (comment.deprecated) { ?>
                          **Deprecated**
                        <? } ?>

                        <? if (comment.see) { ?>
                          See <?= comment.see ?>
                          <? } ?>

                        <a class="codeLink" target="_blank" href="https://github.com/northbrookjs/northbrookjs/tree/master/<?= commentMap.get(comment.name) ?>#L<?= comment.raw.codeStart?>"><img src="./images/external.png" /></a>
                    </section>
                    <? } ?>
                    <? }) ?>

                    <section id="no-match">
                      <h2>No matches could be found</h2>
                    </section>

                    <div id="footer">
                      <p>Notes about function signatures</p>

                      <p>- All functions with `⭑` preceding their name are curried by default. It will always be curried by its function length, unless it has an optional argument. In which case a function has an optional argument, it will be curried to `n - 1` meaning that if you need to use the optional argument it *must* be passed in as as second argument to the last function call.
                      </p>
                      <p>- All functions that have optional arugments are displayed with 2 function signatures.
                      </p>
                      <p>- All overloaded functions will display multiple function signatures as needed. - `[...*]` is a representation of a spread operator that takes any type.
                      </p>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>
